.column
  .title
    Blogs
  .description
    %br/
  .grid-layout.grid-layout3
    %a.tile-resource.grid-item{:href => "/blog/2019/08/06/feature-flags-continuous-delivery/", :"data-ga-name" => "feature flag blog", :"data-ga-location" => "body"}
      .tile-background-container{:style => "background-image: url('/images/blogimages/feature-flags.jpg');"}
      .tile-info
        %h4.tile-title Learn more about Feature Flags: The next step in Progressive Delivery
        %p.tile-subtitle by Chrissie Buchanan
        %p.tile-link
          Learn more
          %i.fas.fa-arrow-right
    %a.tile-resource.grid-item{:href => "/blog/2020/07/23/safe-deploys/", :"data-ga-name" => "safe deploys blog", :"data-ga-location" => "body"}
      .tile-background-container{:style => "background-image: url('/images/blogimages/safe_deploy.jpg');"}
      .tile-info
        %h4.tile-title GitLab's guide to safe deployment practices
        %p.tile-subtitle by Orit Golowinski
        %p.tile-link
          Learn more
          %i.fas.fa-arrow-right
    %a.tile-resource.grid-item{:href => "/blog/2019/09/17/gitlab-hashicorp-terraform-vault-pt-1/ ", :"data-ga-name" => "hashicorp blog", :"data-ga-location" => "body"}
      .tile-background-container{:style => "background-image: url('/images/blogimages/gitlab-terraform-pipelines.jpg');"}
      .tile-info
        %h4.tile-title GitLab and HashiCorp: Providing application and infrastructure delivery workflows
        %p.tile-subtitle by Anthony Davanzo and Kelly Hair
        %p.tile-link
          Learn more
          %i.fas.fa-arrow-right

  .text-center
    %a.btn.cta-btn.orange.margin-top20{:href => "/blog/", :"data-ga-name" => "blog", :"data-ga-location" => "body"}
      Read more from our blog

  %br/
  %br/
